extends ../../templates/default/template.pug

block head
	- var path = '../';
	- var pageTitle = 'Not campaign';
	- var pageDescription = 'Sorry, we don’t have actualy campaign for your settings';

block content
	main.page-content.container
		section.catalog-layout
			.catalog-layout__header
				h1.title.catalog-layout__title All Campaigns
				
				.catalog-filters.catalog-layout__filters.js-catalog-filters
					
					.catalog-filters__item
						.catalog-filter
							button(type='button').catalog-filter__header Filter by Category
							.catalog-filter__content
								.catalog-filter__options-list
									.catalog-filter__option.catalog-filter__option_is-active All
									.catalog-filter__option Sport &amp; Lifstale
									.catalog-filter__option Food
									.catalog-filter__option Gadget
					
					.catalog-filters__item
						.catalog-filter
							button(type='button').catalog-filter__header Filter by Price
							.catalog-filter__content
								.catalog-filter__options-list
									.catalog-filter__option.catalog-filter__option_is-active All
									.catalog-filter__option Sport &amp; Lifstale
									.catalog-filter__option Food
									.catalog-filter__option Gadget

					.catalog-filters__item
						.catalog-filter
							button(type='button').catalog-filter__header Newest to Oldest
							.catalog-filter__content
								.catalog-filter__options-list
									.catalog-filter__option.catalog-filter__option_is-active All
									.catalog-filter__option Sport &amp; Lifstale
									.catalog-filter__option Food
									.catalog-filter__option Gadget
			
			.catalog-layout__body
				
				.catalog.catalog-state_is-empty.catalog-state_is-empty-1
					.catalog-state
						.catalog-state__state.state-one
							.catalog-state__message
								p Sorry, we don’t have actualy campaign for your settings :-(
								p Update your profile then see more 
						
						.catalog-state__state.state-two
							.catalog-state__message
								p Sorry, we don’t have actualy campaign for your settings :-(
						
						.catalog-state__button
							a.button.button_reverse-color(href='javascript:void(0)') EDIT profile
					.catalog__list
						include ../../../blocks/catalog-list/catalog-list.pug

