section.catalog
	.catalog__item
		include ../campaing-card/campaing-card.pug

	.catalog__item
		include ../campaing-card/campaing-card.pug

	.catalog__item
		include ../campaing-card/campaing-card.pug

