.container
	display block /*fix for IE*/
	max-width $max-width-container
	padding-right $fields-container
	padding-left $fields-container
	margin 0 auto
	
	background $color-main-bg
	
	+media($screen-mid)
		padding-right $fields-container-desktop
		padding-left $fields-container-desktop