// GRID

$fields-container = 16px
$fields-container-desktop = 99px
$max-width-container = 1440px

/*-------------------------------------*/

// COLORS

$white = #ffffff
$black = #333333
$black-brown = #202020
$charcoal-grey = #424649
$cool-grey = #8d9498
$pinkish-grey = #bebebe
$light-gray = #f3f3f3
$blue = #3d81f6
$gray-blue = #445870
$pink = #ff096c

$color-brand = $blue
$color-titles-default = $black-brown
$color-text-default = $charcoal-grey

$color-main-bg = #FAFAFA

$color-shevron = $pinkish-grey
$color-shevron-hover = darken($pinkish-grey, 20%)

$color-bg-popup-menu = $white


/*-------------------------------------*/

// Z:INDEX

$zindex-page-header = 1000
$zindex-switcher-menu = 1100


/*-------------------------------------*/

// Fonts: Sizes
$font-sm = 1.1rem
$font-md = 1.2rem
$font-lg = 1.4rem
$font-xl = 1.6rem
$font-xxl = 2.2rem

/*-------------------------------------*/

// MEDIA QUERIES
// Переменные для медиа-запросов

$screen-sm = 480px
$screen-mid = 768px
$screen-lg = 1024px
$screen-xl = 1200px
$screen-xxl = 1440px

// Миксин:
media($screen)
	@media only screen and (min-width: $screen)
		{block}

// Использование:
// .title
// 	display block	
// 	+media($screen-xll)
// 		display none

/*-------------------------------------*/

// ANIMATION

$transition-default = 0.3s
