.catalog-layout
	&__header
		padding-top 15px
		padding-bottom 15px
		margin-bottom 16px	
		+media($screen-lg)
			display flex
			align-items center
		
		+media($screen-xxl)
			padding-top 25px
			padding-bottom 13px
			margin-bottom 0
	
	&__title
		+media($screen-lg)
			margin-right 66px
			white-space nowrap
			letter-spacing -0.2px
		
		+media($screen-xxl)
			position relative
			top 17px
	
	&__filters
		flex 1


.no-js .catalog-layout
	&__filters
		display none