campaing-card-container()
	padding 0 16px

.campaing-card
	padding-top 22px
	padding-bottom 25px
	
	background #fff
	border-radius 16px
	
	xx(red) ///
	
	&__header
		campaing-card-container()
		
	&__picture img	
		width 100%
		height auto
		
	
	&__body
		campaing-card-container()
	
	&__footer
		campaing-card-container()