$ic-fb-shape = "data:image/svg+xml,%3Csvg width='7' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.1 6.1875H0V4.125h2.1V2.75C2.1.8943 3.270057 0 4.955566 0c.807373 0 1.501276.05903562 1.703492.08542187V2.0247356l-1.168986.0005225c-.916671 0-1.094163.4278107-1.094163 1.0555944V4.125H7l-.7 2.0625H4.395902V11H2.116051L2.1 6.1875z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E"

campaing-card-container()
	padding 0 20px

.campaing-card
	padding-top 20px
	padding-bottom 25px
	
	background #fff
	border-radius 16px
	
	&__header
		position relative
		
		campaing-card-container()
		padding-right 50px
		
	&__fb-link
		content ''
		position absolute
		top 0
		right 20px
		
		width 26px
		height 26px
		
		border-radius 50%
		background $color-brand url($ic-fb-shape) no-repeat center center
		
		transition all $transition-default
		
		&:hover
			background-color lighten($color-brand, 20%)
		
		+media($screen-xxl)
			right 26px
	
	&__title
		margin-top 0
		margin-bottom 15px

		fontFamily($font-default-regular)
		font-size $font-xl
		line-height normal
		letter-spacing -0.2px
		
		color $color-titles-default
	
	&__props-list
		margin-top 0
		margin-bottom 16px

		fontFamily($font-default-medium)
		font-size $font-sm
		line-height normal
	
	&__props-item
		display flex
		margin-bottom 8px
	
	&__props-name
		margin-right 5.4px
		color $cool-grey
	
	&__props-value
		margin 0
		color $charcoal-grey
		
	&__picture
		margin-bottom 6px
		
	&__picture img	
		width 100%
		height auto
	
	&__body
		campaing-card-container()
		padding-bottom 10px
		
		font-size $font-lg
		
		border-bottom 1px solid #f0f0f0
		
		+media($screen-xxl)
			padding-bottom 3px

	&__description-title
		margin-top 0
		margin-bottom 10px
		
		font-size $font-lg
		line-height 1.43
		letter-spacing 0.5px

		color $cool-grey
	
	&__description-text
		margin 0
		
		fontFamily($font-default-medium)
		line-height 1.6
		letter-spacing 0.3px
		
		color $charcoal-grey
	
	&__footer
		campaing-card-container()
		padding-top 14px
		
		text-align center

	&__rider-list
		margin-top 0
		margin-bottom 15px

		fontFamily($font-default-regular)
		font-size $font-lg
		line-height 1.43
		
		color $charcoal-grey
		
		+media($screen-xxl)
			display flex
			justify-content space-between
	
	&__rider-item
		display flex
		justify-content center
		margin-bottom 5px
		
		+media($screen-xxl)
			&:last-child
				margin-right 25px
	
	&__rider-name
		margin-right 6px
		
	&__rider-value
		margin 0
	
	&__respond-btn
		display inline-block
		
		fontFamily($font-default-bold)
		font-size $font-md
		line-height 1.33
		



















