.campaing-card
	
	.campaing-card__header
		h2 Your first campaign
		
		dl 
			dt Country:
				dd Russia
			dt Category:
				dd Lifestyle, Sport, Food
	
	.campaing-card__picture
		img(src='assets/img/content/company-card.png' alt='company' width='288' height='183')
	
	.campaing-card__body
		h3 Description
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, accusantium?
	
	.campaing-card__footer
		dl
			dt Deadline: 
				dd 28.02.18
			dt Est. wrap
				dd $21,345
	
		button Respond