.catalog-list
	row-flex()
	justify-content center
	
	+media($screen-mid)
		justify-content flex-start
	
	&__item
		col()
		size(12)
		
		max-width 402px
		margin-bottom 30px
		
		+media($screen-mid)
			size(6)
		
		+media($screen-lg)
			size(4)