section.catalog-list
	.catalog-list__item
		include ../campaing-card/campaing-card.pug

	.catalog-list__item
		include ../campaing-card/campaing-card.pug

	.catalog-list__item
		include ../campaing-card/campaing-card.pug

	.catalog-list__item
		include ../campaing-card/campaing-card.pug
