.catalog-filters
	+media($screen-mid)
		display flex

	&__item
		position relative
		width 100%
		min-height 35px
		
		+media($screen-mid)
			max-width 190px
			margin-right 18px
			
			&:last-child
				margin-right 0
		
		&:nth-child(1)
			z-index 300
		
		&:nth-child(2)
			z-index 200
		
		&:nth-child(3)
			z-index 100
			
			+media($screen-mid)
				margin-left auto