.user-controls
	+media($screen-mid)
		display flex
		align-items center
		justify-content space-around

	&__item
		display inline-block
		vertical-align top
		margin-right 10px
		
		&:last-child
			margin-right 0
		
		+media($screen-mid)
			margin-right 23px
	
	&__smm-current
		+media($screen-mid)
			flex-shrink 0